<!--footer 라는 태그에 footer라는 클래스를 추가-->
<!--태그명을 안적으면 기본적으로 div가 되는듯 하다-->
footer.footer
    .footer__icon
        i.fab.fa-youtube
    span.footer__text #{siteName} #{new Date().getFullYear()} WeTube &copy;
<!-- <i class="fab fa-youtube"></i> -->