.videoPlayer {
  position: relative;
  display: flex;
  width: 854px;
  height: 480px;
  align-items: center;
  justify-content: center;

  &:hover {
    .videoPlayer__controls,
    .videoPlayer__progressbar {
      opacity: 1;
    }
  }

  video {
    width: 100%;
  }

  .videoPlayer__progressbar {
    display: flex;
    height: 3px;
    width: 98%;
    position: absolute;
    bottom: 40px;
    opacity: 0;
    transition: opacity 0.4s linear;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .videoPlayer__controls {
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s linear;
    color: white;
    z-index: 9;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    font-size: 14px;

    .videoPlayer__controls-left {
      float: left;
      align-items: center;
      .videoPlayer__volume-button {
        display: inline-block;

        width: 21px;
        margin-right: 15px;

        .videoPlayer__volume-slider {
          display: inline-block;
          max-width: 0px;
          .videoPlayer__volume-slider-handle {
            display: inline-block;

            overflow: hidden;
            max-width: 0px;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
          }
        }
        &:hover {
          .videoPlayer__volume-slider {
            max-width: 100%;
            .videoPlayer__volume-slider-handle {
              max-width: 100%;
            }
          }
        }
      }

      .videoPlayer__play-button {
        display: inline-flex;
        margin-left: 15px;
        margin-right: 25px;
      }

      .videoPlayer__time-display {
        display: inline-flex;
        white-space: nowrap;
        max-width: 40px;

        span {
          margin-right: 2px;
          margin-left: 2px;
        }
      }
    }
    .videoPlayer__controls-right {
      align-items: center;
      float: right;
      .videoPlayer__fullscreen-button {
        margin-right: 15px;
      }
    }

    i {
      font-size: 18px;
      cursor: pointer;
    }
  }
}
