mixin videoPlayer(video = {})
    div(tabindex="0").videoPlayer#jsVideoPlayer
        video(src=`/${video.src}`)
        .videoPlayer__progressbar
        .videoPlayer__controls#jsControls
            .videoPlayer__controls-left
                span.videoPlayer__play-button
                    i.fas.fa-play#jsPlayButton
                span.videoPlayer__volume-button
                    i.fas.fa-volume-up#jsVolumeButton
                    div.videoPlayer__volume-slider
                        .videoPlayer__volume-slider-handle asdasdhjkghjghk
                span.videoPlayer__time-display
                    span#currentTime 00:00:00 
                    span /
                    span#totalTime
            .videoPlayer__controls-right
                span.videoPlayer__fullscreen-button
                    i.fas.fa-expand#jsFullScreen